
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<style>

    .site-menu-toggle {
        cursor: pointer;
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        z-index: 1002;
        transition: background-color 0.3s;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        border-radius: 50%;
    }

        .site-menu-toggle span {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 20px;
            height: 2px;
            background: white;
            margin-left: -10px;
            margin-top: -1px;
            transition: background-color 0.3s;
        }

        .site-menu-toggle.active span:first-child {
            transform: translateY(6px) rotate(45deg);
        }

        .site-menu-toggle.active span:last-child {
            transform: translateY(-6px) rotate(-45deg);
        }

        .site-menu-toggle.active span:nth-child(2) {
            opacity: 0;
        }
</style>
@model IEnumerable<Hotel.Web.Models.UserBooking>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 col-lg-4 site-logo" data-aos="fade"><a href style="color:black">Your Bookings</a></div>
        <div class="col-6 col-lg-8">
            <div class="site-menu-toggle js-site-menu-toggle" data-aos="fade">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- END menu-toggle -->
            <div class="site-navbar js-site-navbar">
                <nav role="navigation">
                    <div class="container">
                        <div class="row full-height align-items-center">
                            <div class="col-md-6 mx-auto">
                                <ul class="list-unstyled menu">
                                    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                                    <li><a href="@Url.Action("Index","Room")">Rooms</a></li>
                                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                                    <li><a href="@Url.Action("Index","Reservation")">Reservation</a></li>
                                    <li><a href="@Url.Action("Logout","Login")">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Check in date</th>
            <th>Check out date</th>
            <th>Room</th>
            <th>Final price</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.CheckIn</td>
                    <td>@user.CheckOut</td>
                    <td>@user.RoomType</td>
                    <td>$@user.FinalPrice</td>
                    <td>
                        @if (DateTime.Today < user.CheckIn)
                        {
                            <form action="@Url.Action("CancelBooking", "CancelBooking")" method="post">
                                @Html.Hidden("checkInDate", user.CheckIn)
                                @Html.Hidden("roomtype", user.RoomType)
                                <button type="submit" class="btn btn-danger">Cancel Booking</button>
                            </form>

                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

